@model ViagemCRUDProject.Models.User
@{
    ViewBag.Title = "User Edit";
}

<h2>User Edit</h2>

@using (Html.BeginForm("UserEdit", "Home", FormMethod.Post))
{
    <input type="text" name="UserId" value="@Model.UserId" hidden>
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" name="FirstName" value="@Model.FirstName">
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" name="LastName" value="@Model.LastName">
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <select class="form-select form-control" name="Gender">
            <option value="" selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Country</label>
        <select class="form-select form-control" name="Country">
            <option value="" selected>Select country</option>
            <option value="India">India</option>
            <option value="Nepal">Nepal</option>
            <option value="Bangladesh">Bangladesh</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="Password" value="@Model.Password">
    </div>
    <div class="mb-3 d-grid">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>

    if (TempData["User Edit Error"] != null)
    {
        <div class="mb-3">
            <span class="text-danger">@TempData["User Edit Error"]</span>
        </div>
    }
}